/*****  Fonts  *****/
$font-primary: 'Montserrat', sans-serif;;
$font-secondary: 'Open Sans', sans-serif;
$font-third: 'Source Sans Pro', sans-serif;

/*****  Colors  *****/
$primary: #2C4058;
$secondary: #FFFFFF;
$secondary-black: #000000;

/*****  Font-size  *****/
$fz-primary: 44px;
$fz-secondary: 18px;
$fz-third: 22px;
